*.rds
.rds
.nc
*.nc
.Rproj.user
.Rdata
.RHistory
Huasco/
CHILE/
CHILE_backup_original/
reg_nac_wgs84/
Shape/sub*
Shape/Huas*
Shape/Regional.*
Shape/reg_nac_wgs84.*
DZA/
AGO/
SHN/
BEN/
BWA/
BFA/
BDI/
CMR/
CPV/
CAF/
TCD/
COM/
COG/
COD/
DJI/
EGY/
GNQ/
ERI/
SWZ/
ETH/
GAB/
GMB/
GHA/
GIN/
GNB/
CIV/
KEN/
LSO/
LBR/
LBY/
MDG/
MWI/
MLI/
MRT/
MUS/
MYT/
MAR/
MOZ/
NAM/
NER/
NGA/
BWA2/
STP/
REU/
RWA/
STP/
SEN/
SYC/
SLE/
SOM/
ZAF/
SSD/
SHN/
SDN/
SWZ/
TZA/
TGO/
TUN/
UGA/
COD/
ZMB/
TZA/
ZWE/
ALLC/
demodata/
AfricaDA/
ADA.Rproj
www/logos.psd
