*.rds
.rds
.nc
*.nc
.Rproj.user
.Rdata
.RHistory
Huasco/
CHILE/
CHILE2/
CCSM4/
CSIRO-Mk3/
elquiplots/
elquitif/
elquitif2/
huascoplots/
huascoshapes/
huascotif/
huascotif2/
elquiplots2/
huascoplots2/
IPSL-CM5A/
MIROC/
ref_pr_monthly/
Shape/BWA.zip
CHILE_backup_original/
CHILE_cr2mma_futuro_cercano _cr2mma_futuro_cercano/
CHILEv2_nuevo/
CHILE_base_original/
reg_nac_wgs84/
Shape/sub*
Shape/Huas*
Shape/Regional.*
Shape/reg_nac_wgs84.*
DZA/
AGO/
SHN/
BEN/
BWA/
BFA/
BDI/
CMR/
CPV/
CAF/
TCD/
COM/
COG/
COD/
DJI/
EGY/
GNQ/
ERI/
SWZ/
ETH/
GAB/
GMB/
GHA/
GIN/
GNB/
CIV/
KEN/
LSO/
LBR/
LBY/
MDG/
MWI/
MLI/
MRT/
MUS/
MYT/
MAR/
MOZ/
NAM/
NER/
NGA/
BWA2/
STP/
REU/
RWA/
STP/
SEN/
SYC/
SLE/
SOM/
ZAF/
SSD/
SHN/
SDN/
SWZ/
TZA/
TGO/
TUN/
UGA/
COD/
ZMB/
TZA/
ZWE/
ALLC/
demodata/
AfricaDA/
ADA.Rproj
www/logos.psd
cr2mma_futuro_cercano_25/
cr2mma_futuro_intermedio_25/
cr2mma_futuro_lejano_25/
rcp85-futuro_cercano/
rcp85-futuro_intermedio/
rcp85-futuro_lejano/
